<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EnderApp.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <EnderApp.My.MySettings>
            <setting name="NumOfExtruders" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Lev_LFx" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Lev_LFy" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Lev_LFz" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Lev_LRx" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Lev_LRy" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="Lev_LRz" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Lev_RFx" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="Lev_RFy" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Lev_RFz" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Lev_RRx" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="Lev_RRy" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="Lev_RRz" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Lev_MIDx" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Lev_MIDy" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Lev_MIDz" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrePr_x" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="PrePr_z" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="ChngNoz_x" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ChngNoz_y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Cali_E_x" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Cali_E_y" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="Cali_E_z" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="PortBaud" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="PortBytes" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="PortParity" serializeAs="String">
                <value>N</value>
            </setting>
            <setting name="PortStopBits" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DefaultPort" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="MaxPorts" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Matl1_Name" serializeAs="String">
                <value>PLA</value>
            </setting>
            <setting name="Matl1_Hot" serializeAs="String">
                <value>210</value>
            </setting>
            <setting name="Matl1_Bed" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Matl1_Fan" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Matl2_Name" serializeAs="String">
                <value>PETG</value>
            </setting>
            <setting name="Matl2_Hot" serializeAs="String">
                <value>245</value>
            </setting>
            <setting name="Matl2_Bed" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="Matl2_Fan" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Matl3_Name" serializeAs="String">
                <value>ABS</value>
            </setting>
            <setting name="Matl3_Hot" serializeAs="String">
                <value>245</value>
            </setting>
            <setting name="Matl3_Bed" serializeAs="String">
                <value>105</value>
            </setting>
            <setting name="Matl3_Fan" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Matl4_Name" serializeAs="String">
                <value>Other</value>
            </setting>
            <setting name="Matl4_Hot" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Matl4_Bed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Matl4_Fan" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Heated_Bed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Retraction" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="ExtrudeAmt" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="PrimeAmt" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="AutoLevel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChngNoz_z" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="Bed_Xmax" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Bed_Ymax" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="HomeOffsetZ" serializeAs="String">
                <value>0.00</value>
            </setting>
            <setting name="HomeOffsetX" serializeAs="String">
                <value>0.00</value>
            </setting>
            <setting name="HomeOffsetY" serializeAs="String">
                <value>0.00</value>
            </setting>
            <setting name="Custom1" serializeAs="String">
                <value/>
            </setting>
            <setting name="Custom2" serializeAs="String">
                <value/>
            </setting>
            <setting name="Custom3" serializeAs="String">
                <value/>
            </setting>
            <setting name="Custom4" serializeAs="String">
                <value/>
            </setting>
            <setting name="Script1" serializeAs="String">
                <value/>
            </setting>
            <setting name="Script2" serializeAs="String">
                <value/>
            </setting>
            <setting name="Script3" serializeAs="String">
                <value/>
            </setting>
            <setting name="Script4" serializeAs="String">
                <value/>
            </setting>
            <setting name="AutoPortOpen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultXAccel" serializeAs="String">
                <value/>
            </setting>
            <setting name="DefaultYAccel" serializeAs="String">
                <value/>
            </setting>
            <setting name="DefaultXJerk" serializeAs="String">
                <value/>
            </setting>
            <setting name="DefaultYJerk" serializeAs="String">
                <value/>
            </setting>
            <setting name="PrePr_y" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="WhatColor" serializeAs="String">
                <value>Standard</value>
            </setting>
            <setting name="JunctionDeviation" serializeAs="String">
                <value/>
            </setting>
            <setting name="DefaultPAccel" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="DefaultTAccel" serializeAs="String">
                <value>750</value>
            </setting>
            <setting name="PreHeatSync" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PR1Profile" serializeAs="String">
                <value/>
            </setting>
            <setting name="PR1Port" serializeAs="String">
                <value/>
            </setting>
            <setting name="PR1Name" serializeAs="String">
                <value/>
            </setting>
            <setting name="PR2Profile" serializeAs="String">
                <value/>
            </setting>
            <setting name="PR2Port" serializeAs="String">
                <value/>
            </setting>
            <setting name="PR2Name" serializeAs="String">
                <value/>
            </setting>
            <setting name="PR3Name" serializeAs="String">
                <value/>
            </setting>
            <setting name="PR3Port" serializeAs="String">
                <value/>
            </setting>
            <setting name="PR3Profile" serializeAs="String">
                <value/>
            </setting>
            <setting name="PR4Name" serializeAs="String">
                <value/>
            </setting>
            <setting name="PR4Port" serializeAs="String">
                <value/>
            </setting>
            <setting name="PR4Profile" serializeAs="String">
                <value/>
            </setting>
            <setting name="PR5Name" serializeAs="String">
                <value/>
            </setting>
            <setting name="PR5Port" serializeAs="String">
                <value/>
            </setting>
            <setting name="PR5Profile" serializeAs="String">
                <value/>
            </setting>
            <setting name="PR6Name" serializeAs="String">
                <value/>
            </setting>
            <setting name="PR6Port" serializeAs="String">
                <value/>
            </setting>
            <setting name="PR6Profile" serializeAs="String">
                <value/>
            </setting>
            <setting name="PR7Name" serializeAs="String">
                <value/>
            </setting>
            <setting name="PR7Port" serializeAs="String">
                <value/>
            </setting>
            <setting name="PR7Profile" serializeAs="String">
                <value/>
            </setting>
            <setting name="PR8Name" serializeAs="String">
                <value/>
            </setting>
            <setting name="PR8Port" serializeAs="String">
                <value/>
            </setting>
            <setting name="PR8Profile" serializeAs="String">
                <value/>
            </setting>
            <setting name="PR9Name" serializeAs="String">
                <value/>
            </setting>
            <setting name="PR9Port" serializeAs="String">
                <value/>
            </setting>
            <setting name="PR9Profile" serializeAs="String">
                <value/>
            </setting>
            <setting name="PR10Name" serializeAs="String">
                <value/>
            </setting>
            <setting name="PR10Port" serializeAs="String">
                <value/>
            </setting>
            <setting name="PR10Profile" serializeAs="String">
                <value/>
            </setting>
            <setting name="AutoLink" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoLevelCMD" serializeAs="String">
                <value>G29</value>
            </setting>
            <setting name="FilamentDia" serializeAs="String">
                <value>1.75</value>
            </setting>
            <setting name="Bed_ZMax" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Heated_Build_Volume" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CuraPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="CuraExeName" serializeAs="String">
                <value/>
            </setting>
            <setting name="CuraVersion" serializeAs="String">
                <value/>
            </setting>
        </EnderApp.My.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
